BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
ContinuationIndentWidth: 2
ColumnLimit: 0

BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty
BinPackArguments: false
BinPackParameters: false

SpaceBeforeParens: ControlStatements
SpaceBeforeAssignmentOperators: true
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpacesInAngles: false

PointerAlignment: Right
DerivePointerAlignment: false
ReferenceAlignment: Pointer

AccessModifierOffset: -2
IndentCaseLabels: true
NamespaceIndentation: None

SortIncludes: false
IncludeBlocks: Preserve
ReflowComments: false